@font-face {
  font-family: 'OpenSansRegular';
  src: url('../src/assets/Inter_24pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../src/assets/Inter_28pt-Bold.ttf') format('truetype');
}

:root {
  --content-width: 1200px;
}

html, body {
  margin: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: rgba(255,255,255,0.92);
  overflow-x: hidden;
  background:
    linear-gradient(
      to bottom,
      #232a2d 0%,
      #1d2325 10%,
      #181d1e 22%,
      #141716 36%,
      #10110f 52%,
      #0d0d0b 72%,
      #0d0d0b 100%
    );
}