@font-face {
  font-family: 'OpenSansRegular';
  src: url('../src/assets/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../src/assets/OpenSans-Bold.ttf') format('truetype');
}

:root{
  --bg: #14120B;
  --content-width: 1200px;
}

html, body {
  height: 100%;
}

body{
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  color: rgba(255,255,255,0.92);
  overflow-x: hidden;
}
