@font-face {
  font-family: 'OpenSansRegular';
  src: url('../src/assets/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../src/assets/OpenSans-Bold.ttf') format('truetype');
}
:root {
  background-color: #1B2838;
}

body{
  margin: 0;
  
  
}

img {
  pointer-events: none;
}

