@font-face {
  font-family: 'OpenSansRegular';
  src: url('../src/assets/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../src/assets/OpenSans-Bold.ttf') format('truetype');
}

html {
  scroll-padding-top: 80px;
}

body {
  margin: 0;
}

img {
  pointer-events: none;
}
